.mains {
	background-color: rgb(233, 32, 61);
}

.mains a {
	color: #fff;
}

.flex-contain {
	display: flex;
    display: -webkit-flex;
    height: 40px;
}

.flex-contain a {
	font-size: 15px;
}

.main .main-left {
	width: 50%;
	padding: 8px 20px;
    justify-content: flex-start;
}

.main .main-left div {
	margin-left: 20px;
}

.main .main-right {
	width: 50%;
	padding: 8px 20px;
    justify-content: flex-end;
}

.main .main-right div {
	margin-right: 20px;
}
